<!-- Let's use my favorite Bible verse 😊 -->
<h2 class="verse">Philippians 4:6</h2>
<p class="verseText">
  Do not be anxious about anything, but in every situation,
  by prayer and petition, with thanksgiving, present your
  requests to God.
</p>
<hr class="hr" />
<span class="grey">
  <em>
    If you are seeing this, we were unable to fetch the actual
    Bible Verse of the Day. If this continues to happen, feel free to
    contact me through the Chrome Extension Store.
  </em>
  <span>🙏</span>
</span>
